<template>
  <h1>{{ msg }}</h1>
  <div>
    <button @click="counter" type="button">count is: {{ state.count }}</button><br /><br />
    <button @click="reset" type="button">reset</button>
  </div>

  <p>{{ message }}</p>
  <div class="padding-box">
    <textarea v-model="message" cols="40" rows="2"></textarea>
  </div>
  <div class="padding-box">
    <p>objList</p>
    <ul v-for="(item, objindex) in objList.objects" :key="item.id">
      <li>{{ item.id }}番目</li>
      <ul v-for="(itemobj, i) in item" :key="i">
        <li>{{ i }}：{{ itemobj }}</li>
      </ul>
      <li>
        <button @click="addobj(objindex)" type="button">add</button>
        <button @click="removeobj(objindex)" type="button">resetitem</button>
      </li>
    </ul>
  </div>

  <div class="padding-box">
    <p>obj</p>
    <ul v-for="(item2, index) in obj.obj">
      <li>{{ index }}：{{ item2 }}</li>
    </ul>
  </div>

  <a href="/teleport.html">teleportを試すページに遷移</a>
</template>

<script>
import { defineComponent, computed, ref, onMounted, reactive } from "vue";
export default defineComponent({
  name: "HelloWorld",
  props: {
    msg: String,
  },
  setup(props, context) {
    // プリミティブなものはref
    const message = ref("できた。");

    /*
     * カウンター関連
     *
     * カウントボタンを押すと数字が増える
     * リセットを押すと0にリセットされる
     */

    // プリミティブなもの以外はreactive
    // オブジェクトなどを入れるとよい
    const state = reactive({
      count: 0,
    });

    // リセット
    const reset = () => {
      state.count = 0;
    };

    // カウント
    const counter = () => {
      state.count++;
    };

    /*
     * リストのオブジェクトの中身を変更したり、増やしたり減らしたりするテスト
     */
    const objList = reactive({
      objcountList: [
        {
          count: 0,
        },
        {
          count: 0,
        },
      ],
      objects: [
        {
          id: 1,
          value: "オブジェクト",
        },
        {
          id: 2,
          value: "オブジェクト2",
        },
      ],
    });

    const addobj = (objindex) => {
      objList.objects[objindex]["addobj" + objList.objcountList[objindex]] = "ふやした。";
    };

    const removeobj = (objindex) => {
      delete objList.objects[objindex].addobj;
    };

    //

    /*
     * オブジェクト変更のテスト
     * オブジェクトの中身もリアクティブ。
     */
    const obj = reactive({
      name: "複数のオブジェクト入れられます。",
      obj: {
        id: 1,
        value: "オブジェクト",
      },
    });

    return {
      state,
      message,
      reset,
      counter,
      objList,
      addobj,
      removeobj,
      obj,
    };
  },
});
</script>

<style scoped>
.padding-box {
  margin: 0 auto;
  width: 300px;
  text-align: left;
  margin-bottom: 40px;
}
</style>
