<template>
  <div>
    <p>{{ state.message }}</p>
  </div>
</template>

<script lang="ts">
import { defineComponent, computed, ref, onMounted, reactive } from "vue";
export default defineComponent({
  name: "MyModal",
  setup() {
    const state = reactive<{ message: string }>({
      message: "はろはろ",
    });
    return {
      state,
    };
  },
});
</script>

<style lang="scss" scoped></style>
