<template>
  <div class="container">
    <button @click="toggleModal">toggle modal</button>
    <teleport to="#teleport-target">
      <MyModal v-if="isVisible" />
    </teleport>
    <div id="teleport-target"></div>
  </div>
</template>

<script lang="ts">
import { defineComponent, ref } from "vue";
import MyModal from "./components/MyModal.vue";

export default defineComponent({
  components: {
    MyModal,
  },
  setup() {
    const isVisible = ref(false);

    const toggleModal = () => {
      isVisible.value = !isVisible.value;
    };
    return {
      isVisible,
      toggleModal,
    };
  },
});
</script>
